@import url('https://fonts.googleapis.com/css2?family=Cairo:wght@300;400;600;700&display=swap');
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
:root{
    --bg-color:#184a1f;
    --sec-color:#45913c;
    --gray-color:#e3e3e3;
    --gray-color2:#f5f5f5;
    --black-color:#353333;
}
body{
    font-family: 'Cairo', sans-serif;
    background-color: var(--gray-color);
}
a{
    text-decoration: none;
    color: #000;
}
.btn-success{
    background-color: var(--sec-color);
}
a:hover{
    text-decoration: none;
  }
ul{
    list-style: none;
    display: flex;
    flex-direction: row;
    margin: 0;
    padding: 0;
}
nav {
    background-color: white;
}
nav .container .nav-content{
    display: flex;
    flex-direction:row;
    justify-content: space-between;
    padding: 10px 0;

}
nav .container .nav-content .logo img{
 height: 50px;
 width: 50px;   
}

nav .container .nav-content .links{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
nav .container .nav-content .links li{
   margin-left: 15px;
   color: var(--bs-body-color);
    display: flex;
    align-items: center;
    position: relative;
    cursor: pointer;
}

nav .container .nav-content .links li .icon{
    position: relative;
}
nav .container .nav-content .links li .icon > span{
    position: absolute;
    top: -18px;
    left: -7px;
    color: white;
    background-color: red;
    padding: 0px 4px;
    font-size: smaller;
}
nav .container .nav-content .links i{
    color: var(--bg-color);
    margin-right: 10px;
}
nav .container .nav-content .links li > div{
    display: inline-flex;
    flex-direction: column;
    margin-right: 10px;
}
nav .container .nav-content .links li .cart-content , nav .container .nav-content .register-card{
    position: absolute;
    top:50px;
    left: -50%;
    width: 200%;
    background-color: white;
    border-radius: 6px;
    -webkit-border-radius: 6px;
    padding: 5px;
    -moz-border-radius: 6px;
    -ms-border-radius: 6px;
    -o-border-radius: 6px;
    border: 1px solid var(--gray-color2);
    z-index: 999;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: smaller;
}
nav .container .nav-content .cart-content ul {
    display: flex;
    flex-direction: column;
}
nav .container .nav-content .cart-content ul li{
    position: relative;
}
nav .container .nav-content .cart-content ul li img{
    width: 50px;
    height: 50px;
    padding: 5px 0px;
}
nav .container .nav-content .cart-content ul li .close{
    color: red;
    font-weight: bold;
    font-size: smaller;
    position: absolute;
    top: 0;
    left: 0;
    width: 10px;
    height: 10px;
}
nav .container .nav-content .cart-content ul li .item-cost{
    color: var(--sec-color);
    font-size: smaller;
}
nav .container .nav-content .cart-content .btn{
    width: 100%;
    display: inline-block;
    font-size: smaller;
    margin: 0;
    color: white;
    border-radius: 4px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -ms-border-radius: 4px;
    -o-border-radius: 4px;
    margin-bottom: 5px;
}
nav .container .nav-content .cart-content .btn{
    background-color: var(--sec-color);
}
nav .container .nav-content .cart-content .btn:last-child{
    background-color: #000;
}
nav .container .nav-content .cart-content .btn:hover{
    opacity: 0.5;
}
/* main style  */
main {
    background-color: var(--bg-color);
    color: white;
    display: flex;
    justify-content: center;
    padding: 20px 0;
}
main .links {
    display: flex;
    justify-content: center;
}
main .links a{
    color: white;
    margin-right: 25px;
    transition: 0.6s all;
    position: relative;
    transition: all 0.6;
    -webkit-transition: all 0.6;
    -moz-transition: all 0.6;
    -ms-transition: all 0.6;
    -o-transition: all 0.6;
}
main .links a:hover {
    color: white;
}
main .links a:hover::after{
    content: "";
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    display: block;
    width: 80%;
    height: 2px;
    background-color: white;
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    -o-transform: translateX(-50%);
}
footer{
    background-color: white;
}
footer .footer-content ul{
    list-style-type: square;
}
@media (max-width:991px){
    footer .footer-content ul{
        list-style: none;
        padding: 0;
    }
    footer .footer-content{
       text-align: center;
    }
}
footer .footer-content .header{
    font-weight: bold;
    margin: 10px 0;
}
footer .footer-content .media a {
 margin-left: 3px;
color: var(--sec-color);
 border-radius: 50%;
 -webkit-border-radius: 50%;
 -moz-border-radius: 50%;
 -ms-border-radius: 50%;
 -o-border-radius: 50%;
 padding: 10px;
 margin-top: 3px;
 display: inline-block;
}
footer .footer-content .media a:hover{
    color: var(--bg-color);
}
footer .ownership{
    background-color: var(--bg-color);
    color: white;
    padding: 20px 0;
}